.temperature {
  margin-top: 20px;
}
.temperature .title {
  font-size: 20px;
}
.temperature .current {
  display: inline-block;
  margin-left: 10px;
  font-size: 42px;
}
.temperature .chartContainer {
  margin-top: 20px;
}
.temperature .chartParameters .title {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  display: inline-block;
}
.temperature .chartParameters .resolution,
.temperature .chartParameters .timeSpan {
  font-size: 13px;
  margin-left: 20px;
  display: inline-block;
}
.temperature .chartParameters .resolution .label,
.temperature .chartParameters .timeSpan .label {
  display: inline-block;
  margin-right: 10px;
}
.temperature .chartParameters .resolution select,
.temperature .chartParameters .timeSpan select {
  width: 100px;
}
.app {
  min-width: 300px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica, serif;
}
